@font-face {
	font-family: 'Early Gameboy';
  src: url(Early GameBoy.ttf) format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Early Gameboy';
}